.intro {
  display: flex;
  min-height: 100vh;
  h2 {
    color: (rgba(black, 0.7));

    &::after {
      content: "";
      width: 30%;
      height: 1px;
      background: (rgba(black, 0.7));
      display: block;
      margin: 1em auto 0;
      @include mq{
        width: 35%;
      } 
    }
  }

  @supports (display: grid) {
    display: grid;
    grid-template-columns: minmax(4em, 1fr) minmax(auto, 30em) minmax(4em, 1fr);
  }
}

.intro-middle {
  background: white;
  color: (rgba(black, 0.7));

  padding: 2.5em 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-left img,
.intro-right img {
  object-fit: cover;
  min-height: 100%;
  min-width: 100%;
  display: block;
  max-height: 30vh;
}


@include mq{
  .intro{
    height: 100vh;
  }

  .intro-middle{
    padding: 1.5em 3rem;

    p{font-size: 1.5rem;}
    h2{font-size: 4rem;}
  }
}