nav {
    position:fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 10%;
    z-index: 10;
    
    // animation for mobile - hides the navBar
    transform: translateX(-100%);
    transition: all .5s ease-in-out;

    ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    align-items: stretch;
    background: $accent;
    }

    a{
    @include sans-serif($fs: 4rem, $color:$dark-blue);
    text-decoration: none;
    display: inline-block;
    padding: 9.1vh 2rem;
    width: 100%;
    line-height: 1;    
    }

    li{
        border-bottom: 1px solid $dark-blue;
        text-align: center;
    }

    li:hover{
        background: rgba($dark-blue, .5)
    }
}


body.nav-open{
    nav{
        transform: translateX(0);
    }
}


// .menu-btn.open .menu-btn_burger{
    // transform: translateX(-50px);
    // background: transparent;
    // box-shadow: none;
// }

// .menu-btn.open .menu-btn_burger::before{
//     transform: rotate(45deg) translate(35px, -35px);
// }

// .menu-btn.open .menu-btn_burger::after{
//     transform: rotate(-45deg) translate(35px, 35px);
// }