
nav{


    .menu-btn{
        //position
        position: absolute;
        top:3rem;
        left:3rem;
        border: 0;
        //---


        display: flex;
        justify-content: center;
        align-items: center;
        width: 3em;
        height: 3em;
        background: transparent;
        cursor: pointer;
        transition: all .5s ease-in-out;

        .menu-btn_burger,
        .menu-btn_burger::after,
        .menu-btn_burger::before{
            // border: 0;
            // padding: 0;
            width: 50%;
            height: 3px;
            background: $dark-blue;
            border-radius: 2px;
            box-shadow: 0 2px 2px rgba(17, 17, 17, 0.2);
            transition: all 0.3s ease-in-out;
        }
    
        .menu-btn_burger::after,
        .menu-btn_burger::before{
            content: '';
            position: absolute;
        }
    
        .menu-btn_burger::before{
            transform: translateY(-0.6rem);
        }
    
        .menu-btn_burger::after{
            transform: translateY(0.6rem);
        }
    }
    
    .menu-btn.nav-open{
        .menu-btn_burger{
            transform: translateX(-50px);
            background: transparent;
            box-shadow: none;
        }

        .menu-btn_burger::before{
            width: 100%;
            transform: rotate(45deg) translate(2.1rem, -2.1rem)
        }

        .menu-btn_burger::after{
            width: 100%;
            transform: rotate(-45deg) translate(2.1rem, 2.1rem)
        }
    }
    
}


nav {
    position:fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    
    ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    align-items: stretch;
    background: $accent;
    }

    a{
    @include sans-serif($fs: 4rem, $color:$dark-blue);
    text-decoration: none;
    display: inline-block;
    padding: 9.1vh 2rem;
    width: 100%;
    line-height: 1;    
    }

    li{
        border-bottom: 1px solid $dark-blue;
        text-align: center;
    }

    li:hover{
        background: rgba($dark-blue, .5)
    }
}



// .menu-btn.open .menu-btn_burger{
    // transform: translateX(-50px);
    // background: transparent;
    // box-shadow: none;
// }

// .menu-btn.open .menu-btn_burger::before{
//     transform: rotate(45deg) translate(35px, -35px);
// }

// .menu-btn.open .menu-btn_burger::after{
//     transform: rotate(-45deg) translate(35px, 35px);
// }