.portfolio {
    text-align: center;
    background-color: $light-gray;
    padding: 6em 0;

    @include mq {
        min-height: 80vh;
        padding: 7em 0 4em;
    }
}

#h1-port {
    font-size: 2rem;
    letter-spacing: 9px;
    margin-bottom: 3rem;
    font-family: $ff-ss;
    color: (rgba(black, 0.8));

    @include mq {
        font-size: 3vw;
        margin-bottom: 6rem;
    }
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;

    img {
        display: block;
        margin: 0;
        padding: 0;
    }

    figcaption {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 1rem 1rem 1rem 0.7em;
        background: linear-gradient(0deg, rgba($dark-blue, .95) 28%, rgba($dark-blue, .10) 28%);
        color: $white;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        transition: top ease-in-out 250ms;
        border-radius: 5px;

    }

    figcaption h2 {
        font-size: 1.1em;
        font-family: 'Merriweather';
        letter-spacing: 0.1em;
        font-size: $fw-n;
        margin-bottom: 0.2em;
    }


    figcaption p {
        margin-bottom: 0;
    }

    figcaption p:nth-child(3) {
        text-align: right;
    }



    //This needs to be fixed
    &:focus figcaption {
        top: 0;
    }
}


.portfolio-title {
    color: $white;
    font-size: 3.65em;
    margin-bottom: auto;

    // .featured & {
    //     font-size: 5rem;
    // }
}

// .portfolio-description{
//     display: none;
//     .featured & {
//         display: block;
//     }
// }

.portfolio-link {
    color: $white;
    font-weight: $fw-b;
    font-size: 1.1rem;
    text-decoration: none;
    border-bottom: 2px solid $white;
    align-self: flex-start;
}

@supports(display: grid) {
    .portfolio-items {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;
        margin: 2em;


        @include mq {
            grid-template-columns: repeat(2, 1fr);

            .porftfolio h1 {
                font-size: 4em;
            }

            .portfolio-item figcaption {
                background: linear-gradient(0deg, rgba($dark-blue, .95) 28%, rgba($dark-blue, .10) 28%);
                padding: 0.7em;
            }
        }
    }

    // .portfolio-item.featured{
    //     grid-column: 1/span 2;
    //     grid-row: 1/span 2;
    // }
}