.welcome {
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 1.5rem;
    font-weight: $fw-n;
    color: $dark-blue;
    line-height: 1.8;
    text-align: center;
    @include mq{
      font-size: 3vw;
      line-height: 2;
    }

    span {
      @include sans-serif($fs: 2.5em, $color: $accent);
      display: block;
      // or can be on seperate lines
      // color: $accent;
      // font-family: $ff-ss;
      // display: block;
      // font-size: 5.5rem;
      
      //debateble look
      // letter-spacing: $letter-spacing;
      @include mq{
        font-size: 6vw;
        letter-spacing:15px
        
      }
    }
  }

  .menu-btn{
    //position
    position: absolute;
    top:1rem;
    left:1rem;
    z-index: 11;
    // - - - 


    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    background: transparent;
    cursor: pointer;
    transition: all .5s ease-in-out;

    .menu-btn_burger,
    .menu-btn_burger::after,
    .menu-btn_burger::before{
        // border: 0;
        // padding: 0;
        width: 50%;
        height: 3px;
        background: $dark-blue;
        border-radius: 20px;
        box-shadow: 0 2px 2px rgba(17, 17, 17, 0.2);
        transition: all 0.3s ease-in-out;
    }

    .menu-btn_burger::after,
    .menu-btn_burger::before{
        content: '';
        position: absolute;
    }

    .menu-btn_burger::before{
        transform: translateY(-0.5rem);
    }

    .menu-btn_burger::after{
        transform: translateY(0.5rem);
    }
  }

  .menu-btn.btn-open{
      .menu-btn_burger{
          transform: translateX(-50px);
          background: transparent;
          box-shadow: none;
      }

      .menu-btn_burger::before{
          width: 100%;
          transform: rotate(45deg) translate(2.2rem, -2.2rem)
      }

      .menu-btn_burger::after{
          width: 100%;
          transform: rotate(-45deg) translate(2.2rem, 2.2rem)
      }
  }
}
