.welcome {
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 1.5rem;
    font-weight: $fw-n;
    color: $dark-blue;
    line-height: 1.5;
    text-align: center;

    span {
      @include sans-serif($fs: 2.5em, $color: $accent);
      display: block;
      // or can be on seperate lines
      // color: $accent;
      // font-family: $ff-ss;
      // display: block;
      // font-size: 5.5rem;
      // letter-spacing: $letter-spacing;
    }
  }
  /* to be fixes as is not working

            h1:before {
              &::before &::after {
                content: "";
                display: inline-block;

                width: 60%;
                height: 1px;
                background: $dark-blue;
              }
            }

            &::before {
              margin: 0 auto 2em;
            }
            &::after {
              margin: 2em auto 0;
            }
            
            */
}
